{
  "presets": [
    "./node_modules/@iopipe/scripts/dist/config/babelrc.js",
    ["env", {
      "targets": {
        "node": ["4.3"]
      },
      "exclude": ["transform-regenerator"]
    }]
  ]
}
